@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="module" src="~/js/index.js" ></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css"/>
}

<div id="turtle-container">
    
</div>
